/* css-reset */
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: #F6F6F6;
}

img {
    object-fit: cover;

}

html,
body {
    height: 100%
}


.wrap {
    width: 100%;
    height: 100%;
    position: relative
}

.head {
    height: 45px;
    position: fixed;
    line-height: 45px;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 5px #ccc;
}

.head .user {
    float: right;
    color: white;
    background-color: #457B9D;
    margin: 10px 30px 0px 0px;
    padding: 0px 10px;
    line-height: 25px;
    height: 25px;
    font-size: 14px;
    border-radius: 100px;
}

.bodywrap {
    margin-top: 45px;
}

.left,
.right {
    width: 200px;
    top: 100px;
    bottom: 0px;
    position: fixed;
}

.left,
.center,
.right,
.bodywrap {
    height: 100%
}

.center {
    margin: 100px 245px 100px 245px;
    padding: 0px 15px;
}

.center-full {
    margin: 100px 30px 100px 245px;
    padding: 0px 15px;
}

.left {
    left: 30px
}

.right {
    right: 30px
}

.head {
    background-color: #FFF;
    color: #e56b6f;

}

.head>.user>i {
    color: white;
    margin-right: 10px;
}

.head>i.logo {
    margin: 0 15px 0 30px;
    line-height: unset;

    color: #1D3557;
}


.volumes {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 12px 0px 24px 0px;
    width: 100%;
}

a {
    text-decoration: none;
}

.volumes .volume {
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    min-width: 100px;
    max-width: 150px !important;
    aspect-ratio: 10/15;
    overflow: hidden;
    flex-basis: auto;
    flex-grow: 1;
}

h1.volume-title {
    font-size: 0.9em;
    font-weight: semi-bold;
    border-radius: 10px;
    vertical-align: middle;
    color: white;
}

h2.volume-number {
    font-size: 0.7em;
    font-weight: normal;
    border-radius: 10px;
    vertical-align: middle;
    color: white;
}

.volume>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.volume-info {
    z-index: 0;
    margin-top: auto;
    padding: 20px 6px 10px 10px;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(3, 3, 66, 0.57) 100%);
    border-radius: 0px 0px 15px 15px;
    text-shadow: 0 0 2px rgba(3, 3, 66, 1);
}

div.volume-title {
    font-size: 1.2em;
    font-weight: semi-bold;
    margin: 0;
    padding: 0.5em 0em 0.5em 0.5em;
    vertical-align: middle;
    border-bottom: #A8DADC 6px solid;
    color: #457B9D;
}

.cover-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.chapter {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border-radius: 5px;
}

.chapter.read {
    background-color: #457B9D;
    color: white;

}

.manga-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0em 0.5em 0em;
    vertical-align: middle;
    color: #e56b6f;
}

.return {
    color: #1D3557;
    margin: 0 15px 0 30px;

}

.manga-info {
    font-size: .8em;
    font-weight: normal;
    margin: 0;
    vertical-align: middle;
}

.manga-tag {
    font-size: .8em;
    font-weight: normal;
    vertical-align: middle;
    background-color: #457B9D;
    padding: 5px;
    border-radius: 999px;
    margin-top: 10px;
    display: inline-block;
    color: white;
}

.section-title {
    font-size: 1.2em;
    font-weight: semi-bold;
    margin: 0;
    padding: 0.5em 0em 0.5em 0.5em;
    vertical-align: middle;
    border-bottom: #A8DADC 6px solid;
    color: #457B9D;
}



.rating {
    text-align: center;
    padding: 15px 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
    display: flex;
    justify-content: space-between;
}



.context-menu {
    padding: 15px 0px 15px 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
    margin-top: 15px;
}

.context-menu-item {
    padding: 5px 0px;
    width: 100%;
    margin: 10px 0px;
}

.context-menu-item>i {
    margin-right: 15px;
}

@media only screen and (max-width: 600px) {
    .wrap>div {
        display: block;
        position: unset;
    }

    .wrap>.bodywrap {
        margin: 0px 16px;
    }

    .wrap>.bodywrap>div {
        right: auto;
        left: auto;
        display: block;
        position: inherit;
        width: 100%;
        height: auto;
        margin: 0px 0px 20px 0px;
        padding: 0px;

    }


    .head {
        box-sizing: border-box;
        margin: 0px 0px 20px 0px;
    }


}

.welcome-message {
    font-size: 1.2em;
    font-weight: semi-bold;
    margin: 0;
    padding: 0.5em 0em 0.5em 0.5em;
    vertical-align: middle;
    color: black;
}

.welcome-message>span {
    color: #e56b6f;
}

.log-button {
    padding: 15px 30px;
    text-align: center;
    transition: 0.5s;
    text-decoration: none;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    font-weight: normal;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #1D3557;
    background-image: linear-gradient(45deg, #457B9D 0%, #A8DADC 51%, #457B9D 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.log-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.log-button:active {
    transform: scale(0.95);
}

ul {
    list-style-type: none;
}

.calendar {
    margin-top: 40px;
}


.month {
    padding: 0px 10px 5px 10px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: #A8DADC 6px solid;
    border-radius: 10px 10px 0px 0px;
    color: #1D3557;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month span {
    font-weight: bold;
}

.month ul li {
    color: #1D3557;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    border-radius: 0px 0px 10px 0px;
    overflow: hidden;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 0.6em;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #e56b6f;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: white !important
}

@media screen and (max-width:720px) {

    .weekdays li,
    .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {

    .weekdays li,
    .days li {
        width: 12.5%;
    }

    .days li .active {
        padding: 2px;
    }
}

@media screen and (max-width: 290px) {

    .weekdays li,
    .days li {
        width: 12.2%;
    }
}

.trending-title {
    margin-top: 30px;
    font-size: 1em;
    font-weight: semi-bold;
    padding: 0.5em 0em 0.5em 0.5em;
    vertical-align: middle;
    border-bottom: #A8DADC 6px solid;
    color: #e56b6f;
}

.trending-title>* {
    display: inline-block;
}

.trending-list {
    counter-reset: list-number;
    padding: 10px 0px 0px 10px;
}

.trending-list-item {
    font-size: 14px;
    color: #1D3557;
}

.trending-list .trending-list-item:before {
    counter-increment: list-number;
    content: counter(list-number);
    margin-right: 15px;
    margin-bottom: 15px;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background: #A8DADC;
    border-radius: 50%;
    color: #1D3557;
}